.zombie {
  position: absolute;
  bottom: 16%;
  left: 100%;
  z-index: 5;
  opacity: 1;
  width: 143px;
  height: 223px;
  /* background: url('./zombiewalking.svg'); */
  /* background: black; */
  /* animation: play 0.8s steps(9) infinite; */
}

@keyframes play {
  100% {
    background-position: -1288px;
  }
}

.dead-zombie {
  position: absolute;
  /* background: url('walkingZombie.png'); */
  /* background: black; */
  opacity: 0;
  z-index: 5;
}

.demo-dot-x {
  animation: xAxis 5s 1 cubic-bezier(0.02, 0.01, 0.21, 1);
}

.demo-dot-y {
  animation: yAxis 5s 1 cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

@keyframes yAxis {
  50% {
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    transform: translateY(200px);
  }
}

@keyframes xAxis {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: translateX(400px);
  }
}

.fall-down {
  animation: fallDown 3s 1 cubic-bezier(0.3, 0.27, 0.07, 1.64);
  transform-origin: bottom center;
}

@keyframes fallDown {
  50% {
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    transform: rotate(90deg);
  }
}

.role-face {
  animation: roleFace 3s 1 linear;
}

@keyframes roleFace {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.zombie-transition {
  transition: opacity 0.5s ease-out;
}

.fireball {
  position: absolute;
  bottom: 175px;
  z-index: 5;
  height: 40px;
  width: auto;
}

.fire-animation {
  /* animation: fire 0.8s steps(9) 0.8s;  */
  animation-name: fire;
  animation-timing-function: steps(9);
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

@keyframes fire {
  100% {
    background-position: -1617px;
  }
}

.forest-land-img {
  width: 100%;
  position: absolute;
  bottom: -10%;
  left: 0;
  z-index: 5;
}

.house-img {
  position: absolute;
  bottom: -10%;
  left: 0;
  z-index: 6;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

#plant-shooter {
  animation-name: slideInFromLeft;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0);
  }
}

#initialzombie {
  animation-name: slideInFromRight;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
  z-index: 9;
  position: absolute;
  bottom: 20%;
  right: 250px;
  /* display: none; */
}

@keyframes sway {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
  }
}

#plant-top-body {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  transition: all 0.25s cubic-bezier(0.43, 0.13, 0.15, 0.99);
  animation: sway 3s infinite alternate;
}

#back-btn {
  background: green;
  width: 100%;
  margin: 1rem;
  background-color: #06d19c;
  border: none;
  color: #fff;
  font-size: 12px !important;
  font-weight: 700;
  border-radius: 4px;
  padding: 0 1rem;
  padding-bottom: 10px;
}
