@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background: #06090f;
}

/* Remove dropdown from Input Number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Heading glow on Landing page */
.heading-glow {
  text-shadow: 4px 4px 36px rgba(37, 99, 235, 0.64);
}

.picker > input {
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 6px;
  border: 2px solid #6a6b6f;
  border-radius: 4px;
  background: #383a3f;
  outline: none;
  font: inherit;
  color: white;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  margin-right: auto;
  margin-left: auto;
}

input:focus {
  border-color: #2563eb;
}
