body {
  padding: 0;
  margin: 0;
}

#portal {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal > div {
  background-color: #0d0d0d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 729px;
  height: 710px;
  max-width: 90%;
  max-height: calc(100% - 200px);
  padding: 15px;
  border-radius: 10px;
}
